{% extends "layout.html" %}
{% block body %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://rdany.org/",
      "name": "Questions"
    }
  }
  }]
}
</script>
<main><article><h2>{{ question }}</h2>{{ answer }}</article></main>
<nav>
<ul>
    {% for q in other_questions %}
    <li><a href="/ask?q={{q|urlencode}}">{{q}}</a></li>
    {% endfor %}
</ul>
</nav>
{% endblock %}
