<!DOCTYPE HTML>
<html lang="{{ lang }}">
	<head>
		<title>rDany - {{ question }}</title>
        <meta charset="utf-8" />
        <meta name="description" content="{{ answer }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Eibriel">

		{% if lang != "mul" and question != "" %}
		<link rel="alternate" hreflang="{{ lang }}" href="https://rdany.org/ask?q={{question|urlencode}}">
		{% endif %}
        <link rel="shortcut icon" href="images/logo.png" type="image/png">
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-N7QBGF2');</script>
		<!-- End Google Tag Manager -->

		<link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">

		<style>
body {
    font-family: 'Mina', sans-serif;
}
h1 {
	font-size: 1.1em;
}
footer {
	font-size: 0.8em;
	margin-top: 5em;
}
ul {
	margin-top: 3em;
}
li {
	margin-top: 1em;
}
		</style>
	</head>
	<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7QBGF2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% block body %}{% endblock %}

<footer>
Eibriel - 2018<br>
Data from WikiData
</footer>
</body>
</html>
